
.boxOfPokemon h1 {
    margin: 1rem;
    font-size: 25px;
}

.boxOfPokemon {
    overflow: auto;
    height: 100vh;
    width: 350px;
    background-color: #49c2f286;
}

.pokeball {
    width: 40px;
    background-color: white;
    border-radius: 100%;
}

.displayPokeInfo {
    height: 100vh;
    width: auto;
    background-color: #49c2f286;
}

.displayPokeInfo input {
    width: 600px;
    height: 50px;
    border-radius: 10px;
    margin-top: 2rem; 
}

.searchPokemonBtn {
    border-radius: 10px !important;
    margin-top: 2rem;
    background-color: black !important;
    color: white;
    width:125px;
    height: 50px;
}
.searchPokemonBtn:hover {
    color:white;
}

.pokeMovesScrollBox {
    overflow: auto;
    height:200px;
    width: 300px;
}

.images {
    width: 300px;
    object-fit: contain;
}

.evoBtn {
    min-height: 50px;
}

.typeIcon {
    width:25px;
}

.typeBlock {
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 1.5rem;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: #3c3c3c;
}







/* 
.grassType {
    background-color: #18ab00;
}

.poisonType {
    background-color: #db00ff;
}

.normalType {
    background-color: #858585;
    color: white;
}

.fireType {
    background-color: #bd2d00;
    color: white;
}

.waterType {
    background-color: #0038ff;
    color: white;
}

.electricType {
    background-color: #dce000;
}

.fightingType {
    background-color: #b86300;
}

.iceType {
    background-color: #00bfcb;
}

.groundType {
    background-color: #b39600;
}

.flyingType {
    background-color: #abf0e0;
}

.psychicType {
    background-color: #e500ce;
}

.bugType {
    background-color: #a2ee00;
}

.darkType {
    background-color: #5b2100;
    color: white;
}

.dragonType {
    background-color: #00a0d3;
}

.ghostType {
    background-color: #005cb1;
}

.rockType {
    background-color: #7b6000;
}

.steelType {
    background-color: #3c3c3c;
    color: white;
}

.fairyType {
    background-color: #ff00c7;
}

.grassType,
.poisonType,
.steelType,
.rockType,
.ghostType,
.dragonType,
.darkType,
.bugType,
.psychicType,
.flyingType,
.groundType,
.iceType,
.fireType,
.fightingType,
.electricType,
.waterType,
.normalType,
.fairyType {
    width: 150px;
    height: 35px;
    font-size: 20px;
    margin: 1.5rem;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: #3c3c3c;
} */