@import 'bootstrap/dist/css/bootstrap.min.css';
@import './PokemonInfo.css';

.backgroundImg {
  background-image: url(../assets/pikachuBG.png);
  background-size: cover;
  object-fit: cover;
  min-height: 100vh;
  background-position: center;
}

h1, h2, h3, h4, h5, h6 , p {
  text-shadow: 6px 6px 25px #00000094;;
}
