@font-face {
  font-family: pokemon;
  src: url(./assets/Pokemon.ttf);
}

.backgroundImg {
  background-image: url(./assets/PokeAPIBG.jpg);
  background-size: contain;
  height: 100vh;
  font-family: pokemon;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
